:root {
  --green: #00f298;
  --dark-green: #17d396;
  --cyan: #07f7f7;
  --dark-cyan: #00d7bb;
  --black: #22252c;
  --black-2: #313741;
  --gray: #8491a2;
  --dark-gray: #58616d;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  background: linear-gradient(
      to right,
      rgba(0, 242, 152, 0.7),
      rgba(7, 247, 247, 0.7)
    ),
    url("../img/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.header-text h1,
h2,
h4 {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
}

.header-text h1 {
  font-size: 8vw;
  font-weight: 300;
}

.header-text h2 {
  font-size: 7vw;
  font-weight: 600;
}

.header-text h4 {
  font-size: 3vw;
  font-weight: 500;
}

.about {
  background-color: var(--black);
  padding: 100px 70px;
  height: auto;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.profile-photo {
  flex: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-photo img {
  width: 100%;
  transform: translate(-40px, 40px);
}

.img-border {
  border: 5px solid var(--dark-cyan);
}

.about-text {
  flex: 50%;
}

.h2 {
  background: linear-gradient(
    to right,
    rgba(0, 242, 152, 0.7),
    rgba(7, 247, 247, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 3vw;
  font-family: "Open Sans", sans-serif;
  /* display: inline-block; */
}

.about-text p {
  color: var(--white);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.about ul {
  list-style: none;
  margin-top: 20px;
}

.about ul li {
  color: var(--white);
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.about ul li span {
  color: var(--dark-cyan);
}

.interest {
  margin-top: 50px;
  margin-left: 12%;
}

.interest-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.interest-icon i,
.social-icon i {
  border: 2px solid var(--dark-cyan);
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--dark-cyan);
}
.interest-icon i:hover {
  background-color: var(--dark-cyan);
  color: var(--white);
}

.i-text {
  display: block;
  opacity: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
}

.interest-icon i:hover ~ .i-text {
  opacity: 1;
}

.edu-container {
  background-color: var(--black-2);
  padding: 100px 50px;
}

.container {
  margin-top: 20px;
}

.education {
  /* margin-top: 20px; */
  /* margin-left: 20%; */
  /* border-left: 2px solid var(--dark-cyan); */
  /* padding: 0 10px; */
}

.education h2,
h3 {
  color: var(--white);
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px;
  margin: 0 -70px;
}

.education h2 {
  color: var(--dark-cyan);
  font-size: 2vw;
}

.social-icon {
  flex-direction: row;
}

.social-icon i:hover {
  background-color: var(--dark-cyan);
  color: var(--black);
}

.social-icon a {
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .about-me {
    flex-direction: column;
  }
  .about-text {
    margin-top: 50px;
    margin-left: -30px;
  }
  .interest {
    margin-left: -30px;
  }
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 3px;
  margin-left: -1.5px;
  background-color: var(--dark-cyan);
}

.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: auto;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: 0;
  border: 5px solid var(--black-2);
  outline: 1px solid var(--dark-cyan);
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: var(--dark-cyan);
}



.timeline > li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline > li {
    margin-bottom: 100px;
    min-height: auto;
  }

  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline > li .timeline-image {
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }

  .timeline > li:nth-child(1){
    margin-left: -20px;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: auto;
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline > li .timeline-image {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }

  .timeline > li:nth-child(1){
    margin-left: -20px;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .education h2 {
    font-size: 20px;
  }
  .edu-container h3 {
    font-size: 18px;
  }
  .timeline > li {
    min-height: auto;
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }

  .timeline > li .timeline-image {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
  .timeline > li:nth-child(1){
    margin-left: -20px;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }

  
}


